
<section class="home-header--container">
  <section class="home-header">
    <div class="home-header_text-box">
        <h2>For every Road trip there is a PIT STOP.</h2>
        <p>This is place where you can rate and review your favorite resting spots and pitstops. </p>
        <img src="../../../assets/undraw_navigator_a479 (1).svg" alt="">
    </div>
    <div class="home-header--serviceTypes">
      <p class="text-box">Gas Stations</p>
      <p class="text-box">Hotels</p>
      <p class="text-box">Resturaunts</p>
      <a class="nav-link" routerLink="/login">Post Experience</a>
    
    </div>
    
    </section>
</section>

