<h1>Rate your experience</h1>
<mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

<br>
<h3>Overall rating</h3>

<i class='far fa-star' style='font-size:36px'></i>
<i class='far fa-star'style='font-size:36px'></i>
<i class='far fa-star' style='font-size:36px'></i>
<i class='far fa-star' style='font-size:36px'></i>
<i class='far fa-star'style='font-size:36px'></i>

<h3>Rate Features</h3>

<h4>Cleanliness</h4>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>

<h4>Covienience</h4>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>

<h4>Customer service</h4>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>
<i class='far fa-star' style='font-size:24px'></i>

<h2>Add a headline</h2>
<form action="">
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <br>
      <input type="submit" value="Submit">
</form>

